@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {

}

h1 {

}

p   {

}

a {

}

.container {
  height: auto;
  max-width: 1300px;
  margin: 0 auto;
}

.btn {
        text-align: center;
        border-style: none;
        border-radius: 10px;
        padding: 10px 30px;
        cursor: pointer;
        font-weight: medium;
        transition: all 0.2s;
    }